<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSPproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>School project blog servlet</description>
    <display-name>Blog</display-name>
    <servlet-name>Blog</servlet-name>
    <servlet-class>JSPpro.Blog</servlet-class>
    <init-param>
      <param-name>server</param-name>
      <param-value>jdbc:mysql://localhost/JSPpro</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>jsp</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>tui98kil</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blog</servlet-name>
    <url-pattern>/Blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Brings up the first login page.</description>
    <display-name>Start</display-name>
    <servlet-name>Start</servlet-name>
    <servlet-class>JSPpro.Start</servlet-class>
    <init-param>
      <param-name>server</param-name>
      <param-value>jdbc:mysql://localhost/JSPpro</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>jsp</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>tui98kil</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/Start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handles login and logout of the application.</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>JSPpro.Login</servlet-class>
    <init-param>
      <param-name>server</param-name>
      <param-value>jdbc:mysql://localhost/JSPpro</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>jsp</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>tui98kil</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handles the users blogging and editing thereof within the application.</description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>JSPpro.User</servlet-class>
    <init-param>
      <param-name>server</param-name>
      <param-value>jdbc:mysql://localhost/JSPpro</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>jsp</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>tui98kil</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
</web-app>